.PortalApp {
    background-color: #001f3f;
    height: 150px;
    padding: 20px;
    color: #39CCCC;
    font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}

.PortalApp-navigation {
    margin-bottom: 10px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.PortalApp a {
    margin-right: 15px;
    color: #39CCCC;
    text-decoration: none;
    font-size: larger;
}

.PortalApp a.active {
    color: #DDDDDD;
}

